<header>
  <div class="flex row items-center">
    <img
      src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png"
      alt="Logo"
      width="80"
      height="80"
    />
    <h1>Toy box</h1>
  </div>
</header>
